# Supabase
SUPABASE_URL=https://gspzfqciztmswsfelkax.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdzcHpmcWNpenRtc3dzZmVsa2F4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDMwMDMzMCwiZXhwIjoyMDk5ODc2MzMwfQ.d1d0d4Li8j8LgINnzrYUd7asb5Y7NDWz-xCEy8RTDEE
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdzcHpmcWNpenRtc3dzZmVsa2F4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQzMDAzMzAsImV4cCI6MjA5OTg3NjMzMH0.6ZWwYO_Qc9UmVsjiHhurU0C3KoaZTnbc3u7qLxIu9vc

# Server
PORT=3001
NODE_ENV=development
CLIENT_URL=*
